// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto");

// Variables
@import "variables";

// Utilities
@import "utilities";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.bold {
    color: #000;
    font-weight: 600;
}

.map-displayed {
    margin: 10px 0;
    width: 100%;
    height: 500px;
}

.map-none {
    display: none;
}

form {
    label {
        display: block;
    }
}

.box-img {
    img {
        max-width: 100%;
    }
}

.far.fa-check-circle {
    font-size: 20px;
    opacity: 0.3;
}

.read-true {
    .far.fa-check-circle {
        color: rgb(52, 250, 62);
        opacity: 1;
    }
}

.new-message {
    margin-top: 30px;
    h3 {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        .num-message {
            position: absolute;
            font-size: 14px;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
        }
    }
}

.fas.fa-medal {
    font-size: 40px;
}

.fas.fa-medal.ind {
    font-size: 26px;
}

.fas.fa-medal.ind.medal-apartment {
    font-size: 45px;
    background: #00000052;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    padding: 4px 0;
}

.silver {
    color: silver;
}

.gold {
    color: goldenrod;
}

.platinum {
    color: paleturquoise;
}

.host-header {
    display: inline-block;
    border-left: 1px solid black;
    padding-left: 8px;
    font-size: 20px;
}

.home-btn {
    background-color: #ff385c;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    &:hover {
        transform: scale(1.1);
        color: #fff;
        text-decoration: none;
    }
}

.btn-pay {
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    width: 250px;
    background-color: #f8b600;
    color: #1a1f71;
    transition: 0.5s;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
    &:hover {
        transform: scale(1.1);
    }
}

.card-back {
    border-radius: 20px;
    flex-basis: calc(100% / 3 - 20px);
    height: 400px;
    margin: 0 10px;
    transition: all 0.3s;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        border-radius: 20px 20px 0 0;
    }
}

.card-back.card-apartment {
    position: relative;
    height: 480px;
}

.img-box {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

.tit {
    display: inline-block;
}

.p-no-mb {
    margin-bottom: 0;
}

.no-line-spacing {
    line-height: 1;
}

.absolute-delete {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.absolute-edit {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}

.absolute-details {
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.absolute-sponsor {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-success-sponsor {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    transition: all 0.4s;
    &:hover {
        color: #fff;
        background-color: #111;
    }
}

.btn-danger-delete {
    border-radius: 10px;
    background-color: #ff385d;
    color: #fff;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s;
    &:hover {
        color: #fff;
        background-color: #ca2e4b;
    }
}

.btn-success-details {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s;
    &:hover {
        color: #fff;
        background-color: #111;
    }
}

.btn-warning-edit {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: 600;
    border: 2px solid transparent;
    transition: all 0.3s;
    &:hover {
        color: #fff;
        background-color: #111;
    }
}
