// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Utilities
@import "utilities";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.map-displayed {
    margin: 10px 0;
    width: 100%;
    height: 500px;
}

.map-none {
    display: none;
}

form {
    label {
        display: block;
    }
}

.box-img {
    img {
        max-width: 100%;
    }
}
