// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto");

// Variables
@import "variables";

// Utilities
@import "utilities";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.bold {
    color: #000;
    font-weight: 600;
}

.map-displayed {
    margin: 10px 0;
    width: 100%;
    height: 500px;
}

.map-none {
    display: none;
}

form {
    label {
        display: block;
    }
}

.box-img {
    img {
        max-width: 100%;
    }
}

.far.fa-check-circle {
    font-size: 20px;
    opacity: 0.3;
}

.read-true {
    .far.fa-check-circle {
        color: rgb(52, 250, 62);
        opacity: 1;
    }
}

.new-message {
    margin-top: 30px;
    h3 {
        font-size: 16px;
        font-weight: 400;
        position: relative;
        .num-message {
            position: absolute;
            font-size: 14px;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: red;
        }
    }
}

.fas.fa-medal {
    font-size: 40px;
}

.silver {
    color: silver;
}

.gold {
    color: goldenrod;
}

.platinum {
    color: paleturquoise;
}
